.profile {
    background-color: lightpink;
    width: 30vw;
    height: auto;
    border-color: darkblue;
    border-style:  solid;
    margin: 10px;
    font-size: calc(5px + 2vmin);
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}