.App {
  text-align: center;
  font-family: Consolas, serif;
}

.App-header {
  background-color: lightseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile{

  background-color: lightpink;
  width: 80vh;
  height: auto;
  border-color: darkblue;
  border-style:  solid;
  margin: 10px;
  padding: 15px;
}
